.page__footer {
  background-color: var(--footer-bg);
  width: 100%;
  height: 60px;

  justify-content: space-evenly;
  color: var(--white);
}

.page__footer__links {
  flex: 1 0 40%;
}

.page__footer__links li {
  margin-right: 40px;
}

.page__footer__copyrights {
  flex: 1 0 40%;

  padding-right: 100px;
}

.page__footer__copyrights li {
  text-align: end;
}

.page__footer__socials {
  flex: 1 0 20%;
  justify-content: space-evenly;
}

.page__footer__links a:hover {
  color: var(--number-text-color);
}

@media only screen and (max-width: 480px) {
  .page__footer {
    height: auto;
    padding: 40px 20px;
    padding-bottom: 10px;

    flex-direction: column;

    gap: 20px;
  }

  .page__footer > ul {
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .page__footer__links li {
    margin: 10px;
  }

  .page__footer__copyrights {
    padding: 0;
  }

  .page__footer__copyrights li {
    text-align: center;
  }
}
